.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#nussinov {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  float: left;
}

#nussinov td, #nussinov th {
  border: 1px solid #ddd;
  padding: 8px;
}

#nussinov .highlightedCell {
  background-color: yellow;
}

#nussinov .sequenceCell {
  background-color: #14AD5B;
  font-weight: bold;
}

#dot-paren {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ddd;
  float: left;
}

#dot-paren td, #nussinov th {
  border: 1px solid #ddd;
  padding: 4px;
  cursor: pointer;
}

#dot-paren td:hover {
  background-color: grey;
}

#dot-paren .selected {
  background-color: yellow;
}

.errorMessage {
  color: red;
  text-align: center;
}